[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
phe = "*"
ipykernel = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"

[dev-packages]
pep8 = "*"
yapf = "*"

[requires]
python_version = "3.10"
